<div>
  <h1>Pagina Administrador teste</h1>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Cadastro Clientes/Usuários</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Diversos</h6>
      <p class="card-text">Cadastrar, alterar, excluir cadastro de usuários!</p>
      <a href="/usuarios" class="btn btn-primary">Clientes/Usuarios</a>
      {{! <a href="#" class="card-link">Another link</a> }}
    </div>
  </div>

</div>