{{#tipoUsuario usuarioLogado 'admin'}}!--validação de tipo de usuario para mostrar navbar correta--!

<h1>admin</h1>

{{/tipoUsuario}}



{{#tipoUsuario usuarioLogado 'cliente'}}
<h1>cliente</h1>
{{/tipoUsuario}}