{{!-- {{#tipoUsuario usuarioLogado 'admin'}}

<h1>teste1</h1>
{{/tipoUsuario}}



{{#tipoUsuario usuarioLogado 'cliente'}}

{{/tipoUsuario}} --}}


<div>
    
<nav class="nav justify-content-center" {{#tipoUsuario2 usuarioLogado 'admin'}} {{/tipoUsuario2}}>
  <a class="nav-link active" href="#">Active link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled link</a>
</nav>
</div>