<form action="/admin/usuarios/cadastro/add" method="post">
  <div class="card" style=" width: 50vw;">
    <div class="card-body">
      <h2>Cadastro de Usuário:</h2>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" />
      </div>
      <div class="mb-3">
        <label for="dtNascimento" class="form-label">Data de nascimento:</label>
        <input
          type="Date"
          class="form-control"
          id="dtNascimento"
          style="width: 30vw;"
          name="dtNascimento"
        />
      </div>
      <div class="mb-3">
        <label for="endereco" class="form-label">Endereço:</label>
        <input
          type="text"
          class="form-control"
          id="endereco"
          placeholder="Endereço"
          name="endereço"
        />
      </div>
      <div
        class="mb-3"
        style="display: flex; flex-wrap: wrap; column-gap: 1rem;"
      >
        <div>
          <label for="bairro" class="form-label">Bairro:</label>
          <input
            type="text"
            class="form-control"
            id="bairro"
            placeholder="Bairro"
            name="bairro"
          />
        </div>
        <div>
          <label for="cidade" class="form-label">Cidade:</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            placeholder="Cidade"
            name="cidade"
          />
        </div>
        <div>
          <label for="uf" class="form-label">UF:</label>
          <select
            class="form-select"
            id="uf"
            aria-label="Seleção de estado"
            name="uf"
          >
            <option selected>Estado...</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Endereço de e-mail:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha: </label>
        <input
          type="password"
          class="form-control"
          id="senha"
          placeholder="Senha"
          name="senha"
        />
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          Digite uma senha de 8 - 20 caracteres.
        </span>
      </div>
      <input type="checkbox" onclick="mostrarSenha()" />Mostrar Senha
      <div class="mt-4">
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
    </div>
  </div>
</form>